/* Define the general styles for the website */
body {
  font-family: Cambria, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #009999;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between; /* Update to evenly distribute items */
  align-items: center;
  width: 200%; /* Add this line to define the width */
  max-width: 1200px; /* Add this line to limit the width */
  margin: 0 auto; /* Add this line to center the navigation bar */
}

.header-text {
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Cambria", sans-serif;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff9900;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.content-container {
  display: flex;
  align-items: center;
}

.left-image {
  width: 200px;
  margin-right: 100px;
}

.vertical-line {
  border-left: 1px solid #999;
  height: 200px;
  margin-right: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

h1 {
  font-size: 36px;
  margin-left: 0px;
  margin-bottom: -10px;
  color: #333;
  text-align: center;
  background-color: transparent;
}

h2 {
  font-size: 24px;
  margin-bottom: -30px;
}

h3 {
  font-size: 20px;
  margin-bottom: -5px;
}

.horizontal-line {
  border-top: 1px solid #999; /* Update border-top instead of border-left */
  width: 100%; /* Add this line to make it span the full width */
  margin-top: 40px; /* Add this line to give some spacing */
  margin-bottom: -30px; /* Add this line to give some spacing */
}

/* Update styles for the unordered list */
ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

ul li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #009999;
}
